
<div class="col-12 col-md-6 col-lg-4">

<div class="card">
  <img
    src="{{product.image}}"
    alt="Kombucha flavor"
    class="card-img-top"
  />
  <div class="card-body">
    <h5 class="card-title">{{product.productName}}</h5>
    <p class="card-text">{{product.description}}</p>
    <p class="card-text">{{product.productPrice}}</p>
  
  <button class="btn btn-success" type="button">Add to cart</button>
  <a class="btn btn-success" type="submit" href="/products/update/{{product._id}}">Update</a>
  <a class="btn btn-success" type="submit" href="/products/delete/{{product._id}}">Delete</a>
  </div>
</div>
</div>
