

<div class="col-12 col-md-6 col-lg-4">

<div class="card">    
  <img
    src="{{article.imageUrl}}"
    alt="{{article.title}}"
    class="card-img-top"
  />
  <div class="card-body">
    <h4 class="card-title">{{article.title}}</h4>
    <p class="card-text">By: {{article.author}}</p>
    <p class="card-text">{{article.description}}</p>
    <p>Full article:</p>
    <a href="{{article.link}}">{{article.link}}</a>
    <br>
    <br>
    <a class="btn btn-success" type="submit" href="/hollistic/update/{{article._id}}">Update</a>
    <br>
    <a class="btn btn-success" type="submit" href="/hollistic/delete/{{article._id}}">Delete</a>
</div>
</div>
</div>