
<div class="card">
  <img
    src="{{event.imageUrl}}"
    alt="{{event.event}}"
    class="card-img-top"
  />
  <div class="card-body">
    <h5 class="card-title">{{event.event}}</h5>
    <p class="card-text">{{event.description}}</p>
    <p class="card-text">{{event.date}}</p>
  </div>
  <button class="btn btn-success" type="button">Add volunteer</button>
</div>