
<body>

      <div class="masthead"
        style="background-image: url('https://images.pexels.com/photos/2171077/pexels-photo-2171077.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');" >
        <div class="color-overlay d-flex justify-content-center align-items-center">
            <div class="singleCol container text-center">
               <h1>Shop the latest handcrafted Kombucha flavors!</h1>
               <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Perferendis, aspernatur corrupti voluptate aliquid et a libero saepe hic consectetur exercitationem at obcaecati? Placeat necessitatibus aut quaerat fuga dolor numquam pariatur!</p>        
         </div>
      </div>
   </div>
   <br> 

   <div class="container">
      <div class="row g-3">
            {{#each products}}

         <div class="col-12 col-md-6 col-lg-4">
            <div class="card h-100">
            <img
               src={{this.imageUrl}}
               alt="{{product.productName}}"
               class="card-img-top img-thumbnail"
            />
               <div class="card-body">
                  <h5 class="card-title">{{this.productName}}</h5>
                  <p class="card-text">{{this.description}}</p>
                  <p class="card-text">{{this.productPrice}}</p>
               <form action="/cart/{{this._id}}" method="POST">
                  <button class="btn btn-success" name="{{this.productName}}" value="{{this._id}}" type="submit">Add to cart</button>
               </form>
               {{#if loggedIn}}
               {{!-- {{#if isAdmin}} --}}
               <a class="btn btn-success" type="submit" href="/products/update/{{this._id}}">Update</a>
               <a class="btn btn-success" type="submit" href="/products/delete/{{this._id}}">Delete</a>
               {{!-- {{/if}} --}}
               {{/if}}
               </div>
               </div>
               </div>
               {{/each}}
         </div>
      </div>

            
   </div>
</body>


      
   
   